<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Tombo</th>
      <th>Sexo/Estágio</th>
      <th>Exempl.</th>
      <th>Reino</th>
      <th>Filo</th>
      <th>Classe</th>
      <th>Ordem</th>
      <th>Subordem</th>
      <th>Coorte ou Supercoorte</th>
      <th>Subcoorte</th>
      <th>Superfamília</th>
      <th>Familia</th>
      <th>Subfamilia</th>
      <th>Gênero</th>
      <th>Espécie</th>
      <th>Autor e ano</th>
      <th>Código DNA</th>
      <th>Determinador</th>
      <th>Ano determinação</th>
      <th>País</th>
      <th>U.F./Província/Região</th>
      <th>Município</th>
      <th>Cavidade Carste</th>
      <th>Codigo Carste</th>
      <th>Projeto Carste</th>
      <th>Localidade</th>
      <th>Zona em caverna</th>
      <th>Tipo de ambiente</th>
      <th>Lat. - Long. °</th>
      <th>Graus</th>
      <th>Minutos</th>
      <th>Segundos</th>
      <th>Sul/Norte</th>
      <th>Graus4</th>
      <th>Minutos5</th>
      <th>Segundos6</th>
      <th>W/O</th>
      <th>Decimais_Latitude</th>
      <th>Decimais_Longitude</th>
      <th>Altitude</th>
      <th>Data</th>
      <th>Coletor (es)</th>
      <th>Material tipo</th>
      <th>Coletado em</th>
      <th>Observações</th>
      <th>Método de coleta</th>
      <th>Número da anilha</th>
      <th>Empréstimos</th>
      <th>Etiqueta</th>
      <th>Sequencias e Anexos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>220012</td>
      <td>Deutoninfa</td>
      <td>1 (lâmina)</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Trombidiformes</td>
      <td>Prostigmata</td>
      <td>Parasitengonina</td>
      <td>Hydrachnidia</td>
      <td>Hydryphantoidea</td>
      <td>Rhynchohydracaridae</td>
      <td>Clathrosperchontinae</td>
      <td>Clathrosperchonella</td>
      <td>sp. nov.</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Ribeiro, D.</td>
      <td>2022</td>
      <td>Brasil</td>
      <td>MG</td>
      <td>Santana do Riacho</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Fapemig-Vale</td>
      <td>Parque Nacional Serra do Cipó, riacho perto da Gruta Da Viola</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>19°17'43".343'' S 43°36'47".293 W</td>
      <td>19</td>
      <td>17</td>
      <td>43.343</td>
      <td>S</td>
      <td>43</td>
      <td>36</td>
      <td>47.293</td>
      <td>W</td>
      <td>-19.295373</td>
      <td>-43.613137</td>
      <td>NaN</td>
      <td>18.IX.2021</td>
      <td>Dante B.R; B. Gomes-Almeida; H. Moara.</td>
      <td>NaN</td>
      <td>Riacho, Mata Ciliar</td>
      <td>NaN</td>
      <td>Peneira</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>