<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Tombo</th>
      <th>Sexo/Estágio</th>
      <th>Exempl.</th>
      <th>Reino</th>
      <th>Filo</th>
      <th>Classe</th>
      <th>Ordem</th>
      <th>Subordem</th>
      <th>Coorte ou Supercoorte</th>
      <th>Subcoorte</th>
      <th>Superfamília</th>
      <th>Familia</th>
      <th>Subfamilia</th>
      <th>Gênero</th>
      <th>Espécie</th>
      <th>Autor e ano</th>
      <th>Código DNA</th>
      <th>Determinador</th>
      <th>Ano determinação</th>
      <th>País</th>
      <th>U.F./Província/Região</th>
      <th>Município</th>
      <th>Cavidade Carste</th>
      <th>Codigo Carste</th>
      <th>Projeto Carste</th>
      <th>Localidade</th>
      <th>Zona em caverna</th>
      <th>Tipo de ambiente</th>
      <th>Lat. - Long. °</th>
      <th>Graus</th>
      <th>Minutos</th>
      <th>Segundos</th>
      <th>Sul/Norte</th>
      <th>Graus4</th>
      <th>Minutos5</th>
      <th>Segundos6</th>
      <th>W/O</th>
      <th>Decimais_Latitude</th>
      <th>Decimais_Longitude</th>
      <th>Altitude</th>
      <th>Data</th>
      <th>Coletor (es)</th>
      <th>Material tipo</th>
      <th>Coletado em</th>
      <th>Observações</th>
      <th>Método de coleta</th>
      <th>Número da anilha</th>
      <th>Empréstimos</th>
      <th>Etiqueta</th>
      <th>Sequencias e Anexos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>220010</td>
      <td>Larva</td>
      <td>1 (lâmina)</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Trombidiformes</td>
      <td>Prostigmata</td>
      <td>Parasitengonina</td>
      <td>NaN</td>
      <td>Trombiculoidea</td>
      <td>Trombiculidae</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>sp.</td>
      <td>NaN</td>
      <td>AC2524</td>
      <td>Gomes-Almeida,B.</td>
      <td>2022</td>
      <td>Brasil</td>
      <td>MG</td>
      <td>Nova Lima</td>
      <td>Gruta RM 38</td>
      <td>NaN</td>
      <td>Fapemig-Vale</td>
      <td>Parque Estadual Serra do Rola Moça, dentro da área da Copasa</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>20° 0' 48.334'' S 43° 58' 43.374'' W</td>
      <td>20</td>
      <td>0</td>
      <td>48.334</td>
      <td>S</td>
      <td>43</td>
      <td>58</td>
      <td>43.374</td>
      <td>W</td>
      <td>-20.013426</td>
      <td>-43.978715</td>
      <td>NaN</td>
      <td>26.VIII.2021</td>
      <td>B. Gomes-Almeida; L. Oliveira; B. Faleiro</td>
      <td>NaN</td>
      <td>Host: Micronycteris cf. microtis (Cód. campo: PESRM84)</td>
      <td>NaN</td>
      <td>Rede de neblina</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>