<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fc9612df3e83424c83f3886765d0f322 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_fc9612df3e83424c83f3886765d0f322" ></div>
        
</body>
<script>    
    
            var map_fc9612df3e83424c83f3886765d0f322 = L.map(
                "map_fc9612df3e83424c83f3886765d0f322",
                {
                    center: [-13.0931851665, -46.78736111],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f1927b05befc432eae8eab0585efbb49 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_1f06e2c3f6e743c89aaafe94a538a91e = L.marker(
                [-6.020833333, -50.28861111],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_c082188c5c8547649468dc1ae8497595 = L.marker(
                [-6.020833333, -50.28861111],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_a9e87cf65cd94501bff04c67239f1380 = L.marker(
                [-6.021944444, -50.30138889],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_e02e1d17eb4748a29b6f8403375f701d = L.marker(
                [-19.57083333, -44.01361111],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_16339066f76d45fab78a7274f209383c = L.marker(
                [-19.57833333, -44.01388889],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_046270b4094044bcb72369ffa0ad2573 = L.marker(
                [-16.14888889, -44.6275],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_17e2b9cd6f364c42882b3a671943a73f = L.marker(
                [-16.14888889, -44.6275],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_c16f42f769704c7098d44d44f2157a17 = L.marker(
                [-19.16694444, -43.27333333],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_2faba0596c674b41b28a2748791146ae = L.marker(
                [-18.947136, -43.408143],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_8dc7cd91c65e4a5fb3f33b04cb08159a = L.marker(
                [-18.938247, -43.412309],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_bfd88d336b37405a9bd853b6caf927d1 = L.marker(
                [-18.938247, -43.412309],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_e80eac42aaea473987c3bd095e5b1510 = L.marker(
                [-20.047973, -43.660369],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_bdc2fabb5e444eb9b652767396b09c46 = L.marker(
                [-20.047973, -43.660369],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_6b5dbc456ecb479e89d45abbac3a0316 = L.marker(
                [-20.105894, -43.673508],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_5984318969b64d269a19a30923ea021a = L.marker(
                [-20.040001, -43.655124],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_d2ecb046ebef49df92cd27a4618493fb = L.marker(
                [-20.071692, -43.666682],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_bb42bf7d8f894349835c6904ae5840a1 = L.marker(
                [-20.151431, -43.964757],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_b1b87c10bb714b6ab3771e280b9ba091 = L.marker(
                [-20.154493, -43.514192],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_d23da621d6044d6d8b2651db93605d96 = L.marker(
                [-20.157002, -43.975006],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_060fe052ba3e4af59779b883dd36ede3 = L.marker(
                [-20.159769, -43.975323],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_8dfaf1c64e7f4cc6a8a2caa140051a0e = L.marker(
                [-20.157002, -43.975006],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
    
            var marker_4fd9775b639d4208a8020438d34c485b = L.marker(
                [-20.165537, -43.975878],
                {}
            ).addTo(map_fc9612df3e83424c83f3886765d0f322);
        
</script>